<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div>
            <h1>This is the "CSS" page</h1>
            <h2>In Springboot, the actual css files must be inside:<br>"/main/resources/static/"<h2>
            <h4>Quite weird, right? Not the most practical thing, but it's ok I guess.</h4>
        </div>
    </div>
</body>
</html>